<div class="box1">
	<div style="display: block; width: auto; height: 500px; background-color: #1da1f2; padding: 100px; text-align: center;">
		<h2 style="color: #C0C0C0;">TravelAloneは</h2>
		<h1 style="color: white;">一人で出かける際に有益な情報を共有することができます</h1>
	</div>
</div>
<div class="box2">
	<div style="width: auto; height: 900px; background-color: #6699CC;">
		<h1 style="color: white; margin-top: 0px; text-align: center; padding: 50px;">一人旅を共有しよう</h1>
			<img src="<%= asset_path "about.jpeg" %>" style="width:50%; height:50%; vertical-align:middle; float:left; padding-left:50px;">
			<span style="font-size:40px">感想や場所・難易度・写真<br>を共有することができます。</span>
	</div>
</div>